*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
}

html{
    width: 100vw;
    scroll-behavior: smooth;
    
}
body{
    background-color: rgb(255, 255, 255);
    /* padding-left: 50px; */
    scroll-behavior: smooth;

}

.bg-nav, .bg-nav > *{
    background-color: #0034FF!important;
    color: white!important;
}
.navbar-nav>li>a{
    color: white!important;
}
.navbar-brand{
    color: white!important;
}
.icon-bar {
    background-color: white!important;
}
.navber-toggle:hover, .navbar-toggle:focus, .navbar-toggle{
    background: transparent!important;
}
a{
    color: black;
    background: none;
    border: none;
    font-size: 16px;
    text-decoration: none!important;
}
.navbar a:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.container{
    width: 80%;
    margin: auto;
}
@media screen and (max-width: 600px){
    .container{
        width: 90%;
        margin: auto;        
    }
}

h4{
    margin-bottom: auto;
}
.role{
    color: #0034FF;
    margin-top: auto;
}
.brief{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size:  18px;
    line-height: 48px;
    /* color: #000000; */
}
.dp{
    width: 100%;
    max-height: 300px;
}
.mtb-1{
    margin: 1rem 0;

}
.mtb-2{
    margin: 2rem 0;

}
.mtb-3{
    margin: 2.5rem 0;
}
.section1{
    min-height: 100vh;
}
.section2{
    background-color: #0034FF;
    color: white;
}
h2{
    font-weight: bold;
    font-family: "Nunito Sans",sans-serif;
}
h4{
    font-weight: bold;
    font-family: "Nunito Sans",sans-serif;
}
.hire{
    background-color: #0034FF;
    border: 2px solid #0034FF;
    color: white; 
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
}
.hire:hover{
    color: #0034FF;
    background: white;
   
}
#aboutme{
    color: white;
    padding-left: 50px;
    width: 100vw;
    display: flex;
}
.section3{
    margin-top: 50px;
    padding-left: 50px;
    margin-bottom: 50px;

}
.image{
    /* position: absolute; */
    width: 100%;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 7px 13px 30px rgba(71, 71, 71, 0.25);
    border-radius: 8px;
}
.amazing{
    width: 100%;
    margin-bottom: 10px;
    
}
.img-fluid{
    width: 100%;
    height: auto;
    max-height: 400px;
}
.skills{
    /* margin-left: 50px; */
}
.section4{
    background-color: #E2E2E2;
    /* padding-left: 50px; */
    margin-top: 50px;
    width: 100%;
}
.project{
    width: 100%;
    text-align: center;
    color: #0034FF;
    padding: 18px;
}

.web{
    background-color: #0034FF;
    width: 100%;
    padding: 18px;
}
.text-white{
    color: white;
}
.description{
   width: 100%;
   line-height: 1.2;
   padding: 1rem 0;
}
#first{
    font-weight: bolder;
    margin-bottom: auto;
    color: #0034FF;
}
.graphics{
    background-color: #031B98;
    /* padding-left: 50px; */
    margin-top: 50px;
    width: 100%;
    color: #FFFFFF;
}
.design{
    background-color: #FFFFFF;
   width: 100%;
   padding: 20px 0;
}
#design{
    color: #031B98;
    text-align: center;
    padding: 25px;

}
.ptb-1{
    padding: 1rem 0;
}
.graphic{
    padding-left: 50px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 100px;
}
#second{
    font-weight: bolder;
    margin-bottom: auto;
    color: white;
}
.finalpic{
    margin-bottom: 100px;
    width: 100%;
}
.footspace{
    margin-right: 50px;
    position: absolute;
}
footer{
    background-color: #03125e;
    color: white;
    padding: 50px;
}
footer a{
    color: gray;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s
}
footer a:hover{
    color: white;
    text-decoration: none;
    transform: scale(1.2);
}
